
<section class="gallery">

    <div class="gallery__main">

        <img class="gallery__image"
            [alt]="activeImageTitle"
            [src]="activeImageSrc" />

    </div>

    <div class="gallery__thumbs">
        
        <div class="col" 
            [class.selected] = "selected"
            *ngFor="let image of images">
            
            <img class="gallery__thumb"
                (click)="setActiveImage(image)"
                src="./assets/image/{{image.name}}"
                alt="{{image.title}}" />
        </div>

    </div>

</section>

