
$primary-border-color: #EEEFF2;
$secondary-border-color: #1E96D4;

.gallery {

    &__main {
        align-items: center;
        display: flex;
        width: 100%;
        border: 2px solid $primary-border-color;
        border-radius: 8px;
        min-height: 183px;
    }

    &__image {
        width: 60%;
        margin: auto;
    }

    &__thumbs {
        width: 100%;
        margin: 8px 0 48px 0;
        display: flex;

        .col {
            display: flex;
            align-items: center;
            align-content: center;
            min-height: 44px;
            border-radius: 8px;
            border: 2px solid $primary-border-color;

            &:nth-child(2) {
                margin: 0 8px;
            }
        }

        &.selected {
            border: 2px solid $secondary-border-color;
        }
    }

    &__thumb {

        cursor: pointer;
        margin: auto;
        width: 40%;

        &:nth-child(2) {
            margin: 0 20px;
        }

    }

}
