
<nav class="header navbar static-top">

    <div class="container">

        <a href="/">

            <img class="header__logo"
                src="assets/image/logo.png"
                alt="Semper Logo">

        </a>

    </div>

</nav>
