$primary-background: #fff;
$primary-border-color: #EEEFF2;

nav {
  background: $primary-background;

  &.navbar {
    padding: 16px 16px 48px 16px;
  }

  .container {
    background: $primary-background;
    justify-content: center;
    border-bottom: 1px solid $primary-border-color;

    a {
      width: 50px;
      height: 50px;
      margin-bottom: 17px;
      
      //.logo {
      //  // width: 50px;
      //  background-image: url("/assets/image/logo.png");
      //}
    }
  }
}
