

$font-family: "Circular";
$color-primary: #6B7280;
$color-secondary: #6B7280;
$primary-border-color: #EEEFF2;
$button-primary: #1E96D4;
$button-secondary: #66BEEB;
$button-focus: #1E96D4;
$color-black: #111111;
$color-white: #fff;
$color-red: #CB253C;
$color-shadow: #D8DCE0;

.product {
    
    &__category {
        font-family: $font-family;
        font-weight: 400;
        font-size: 13.3px;
        line-height: 16px;
        color: $color-red;
        text-transform: uppercase;
    }

    &__title {
        font-family: $font-family;
        font-size: 33.178px;
        font-weight: 700;
        line-height: 48px;
        color: $color-black;
    }

    &__description {
        color: $color-primary;
        font-family: $font-family;
        font-size: 27.648px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 48px;
    }

    &__price {

        &--heading {
            color: $color-primary;
            font-family: $font-family;
            font-size: 13.33px;
            line-height: 16px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &--amount {
            font-family: $font-family;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: $color-black;
            margin-top: 8px;
        }
        
    }

    &__gallery-features {
        margin-bottom: 48px;

        &--wrapper {

            margin-bottom: 20px;

            @media only screen and (min-width: 768px) {
                width: 33%;
            }

        }
        
        &--icon {

            &.touch {
                background: url(/assets/image/path.png) no-repeat center;
                margin: auto;
                width: 22px;
                height: 27px;
            }

            &.equalizer {
                background: url(/assets/image/combined-shape.png) no-repeat center;
                margin: auto;
                width: 20px;
                height: 24px;
            }

            &.noise {
                background: url(/assets/image/shape.png) no-repeat center;
                margin: auto;
                width: 26px;
                height: 23px;
            }

        }

        &--text {
           
            p {
                font-family: $font-family;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
                color: $color-black;
                margin-top: 16px;
            }
        }

        &.mobile {

            @media only screen and (min-width: 768px) {
            
                display: none;
            }

        }

        &.deskop {
           
            display: none;

            @media only screen and (min-width: 768px) {
            
                display: flex;
            }
        }

        
    }

    &__option {
        margin-bottom: 48px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 19.2px;
            line-height: 24px;
            color: $color-black;
            padding-bottom: 12px;
        }

        &--item {
            padding: 20px 20px 0;
            border: 2px solid $primary-border-color;
            border-radius: 8px;
            margin-bottom: 12px;
        }

        &-title {
            font-family: $font-family;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
            padding-bottom: 8px;
        }

        &-name {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-primary;
        }
    }

    &__warranty {
        margin-bottom: 48px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 19.2px;
            line-height: 24px;
            color: $color-black;
            padding-bottom: 12px;
        }

        &--item {
            padding: 20px 20px 0;
            border: 2px solid $primary-border-color;
            border-radius: 8px;
            margin-bottom: 12px;
        }

        &-title {
            font-family: $font-family;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
            padding-bottom: 8px;
        }

        &-name {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-primary;
            margin-bottom: 12px;
        }

        &-price {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
        }

    }

    &__feature {

        margin-bottom: 48px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 19.2px;
            line-height: 24px;
            color: $color-black;
            padding-bottom: 12px;
        }

        &--item {
            padding: 20px 20px 0;
            border: 2px solid $primary-border-color;
            border-radius: 8px;
            margin-bottom: 12px;
            padding-bottom: 12px;
        }

        &-name {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-primary;
            margin-bottom: 12px;
        }

        &-price {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
        }
    }

    &__specification {

        margin-bottom: 96px;

        h3 {
            font-family: $font-family;
            font-weight: 500;
            font-size: 19.2px;
            line-height: 24px;
            color: $color-black;
            padding-bottom: 12px;
            border-bottom: 1px solid $primary-border-color;
        }

        &-title {
            font-family: $font-family;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
            padding-top: 12px;

            @media only screen and (min-width: 768px) {
                
                padding-top: 0;
            }
            
        }

        .col {
            flex: initial;
            
            @media only screen and (min-width: 768px) {
                flex: 1 0 0%;
            }
        }

        .row {

            @media only screen and (min-width: 768px) {
                
                border-bottom: 1px solid $primary-border-color;
                margin: 2px;
            }
        }

        &-content {
            font-family: $font-family;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $color-black;
            border-bottom: 1px solid $primary-border-color;
            padding-top: 2px;
            padding-bottom: 12px;

            @media only screen and (min-width: 768px) {
                
                border-bottom: 0px solid $primary-border-color;
            }
        }

    }

}

.footer {

    background: #D2D2D7;

    &__first {
        display: none;

        @media only screen and (min-width: 768px) {
            padding-top: 23px;
            display: block;

            &--warranty {
                display: none;
            }
        }

        @media only screen and (min-width: 1280px) {

            &--warranty {
                display: block;
            }
        }
    }

    &__second {
        padding: 23px 32px;
        text-align: right;
    }

    &__price {
        font-family: $font-family;
        font-weight: 700;
        font-size: 27.648px;
        line-height: 32px;
        color: $color-black;
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $color-primary;

        a {
            font-family: $font-family;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $color-primary;
            text-decoration: none;
        }
    }

    h4 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $color-black;
    }

    button {
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        background: $button-primary;
        border-radius: 8px;
        border: none;
        border-color: $button-primary;
        color: $color-white;
        margin-top: 16px;
        padding: 16px;

        &:hover {
            background: $button-secondary;
        }

        &:focus {
            background: $button-focus;
            border: 3px solid $color-shadow;
        }
    }
}
  