
<article class="product">

    <div class="container">
        
        <div class="row">
            
            <div class="col-lg-6 col-md-12">
                <div class="col-md-12">

                    <app-gallery
                        [images]="product.gallery">
                    </app-gallery>

                </div>

                <div class="col-md-12">

                    <div class="product__gallery-features deskop">
                            
                        <div class="product__gallery-features--wrapper" *ngFor="let gFeature of product.galleryFeatures">
                        
                            <div class="product__gallery-features--icon {{ gFeature.icon }}"></div>
    
                            <div class="product__gallery-features--text">
                                
                                <p>
                                    {{ gFeature.text }}
                                </p>
    
                            </div>
                        </div>
    
                    </div>

                </div>

            </div>
            
            <div class="col-lg-6 col-md-12">
                
                <div class="col-md-12">
                    
                    <div class="product__category">
                        {{product.category}}
                    </div>

                    <h1 class="product__title">
                        {{product.name}}
                    </h1>

                    <h2 class="product__description">
                        {{product.description}}
                    </h2>
                
                    <div class="product__price">
                        
                        <div class="product__price--heading">
                            Starting at
                        </div>  

                        <div class="product__price--amount">
                            {{product.price.value | currency}}
                        </div>
                        
                    </div>

                    <app-tabs
                        [data]="product.tabContent">
                    </app-tabs>

                    <div class="product__gallery-features mobile">
                            
                        <div class="product__gallery-features--wrapper" *ngFor="let gFeature of product.galleryFeatures">
                        
                            <div class="product__gallery-features--icon {{ gFeature.icon }}"></div>
    
                            <div class="product__gallery-features--text">
                                
                                <p>
                                    {{ gFeature.text }}
                                </p>
    
                            </div>
                        </div>

                    </div>

                    <div class="product__option">
                        
                        <h3>Choose your finish.</h3>

                        <div class="product__option--item" *ngFor="let option of product.options">
    
                            <div class="product__option-title">
                                {{ option.title }}
                            </div>
    
                            <div class="product__option-name">
                                {{ option.content }}
                            </div> 
    
                        </div>

                    </div>

                    <div class="product__warranty">
                        
                        <h3>Would you like to add extended warranty coverage?.</h3>

                        <div class="product__warranty--item" *ngFor="let warranty of product.warranty">
    
                            <div class="product__warranty-title">
                                {{ warranty.title }}
                            </div>

                            <div class="row">
                                
                                <div class="col-9">
                                
                                    <div class="product__warranty-name">
                                        {{ warranty.content }}
                                    </div>
    
                                </div>
                                
                                <div class="col-3">
    
                                    <div class="product__warranty-price">
                                        <span *ngIf="warranty.price">+ </span>{{ warranty.price | currency }}
                                    </div> 
    
                                </div>

                            </div>
    
                        </div>

                    </div>
                    
                    <div class="product__feature">
                        
                        <h3>Features.</h3>

                        <div class="product__feature--item" *ngFor="let feature of product.productFeatures">

                            <div class="row">
                                
                                <div class="col-9">
                                
                                    <div class="product__feature-name">
                                        {{ feature.content }}
                                    </div>
    
                                </div>
                                
                                <div class="col-3">
    
                                    <div class="product__feature-price">
                                        {{ feature.price | currency }}
                                    </div> 
    
                                </div>

                            </div>
    
                        </div>

                    </div>

                    <div class="product__specification">
                        
                        <h3>Specifications.</h3>

                        <div *ngFor="let specification of product.specifications">

                            <div class="row">
                                
                                <div class="col">
                                    
                                    <div class="product__specification-title">

                                        <label for="{{ specification.title }}">{{ specification.title }}</label>

                                    </div>

                                </div>

                                <div class="col">

                                    <div class="product__specification-content">

                                        {{ specification.content }}

                                    </div>

                                </div>

                            </div>
    
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</article>


<footer class="footer">
 
    <div class="container">
     
      <div class="row">
        
        <div class="col-md-6 footer__first">
  
           <div class="col-md-12">
            
            <div class="row">
              
              <div class="col-md-6 footer__first--shipping">
                 
                <div class="col-md-12">
                  <h4>{{ product.shipping.label }}</h4>
                  <div class="footer__text">{{ product.shipping.text }}</div>
                </div>
              
              </div>
              
              <div class="col-md-6 footer__first--warranty">
                 
                  <div class="col-md-12">
                      <h4>{{ product.shipping.label }}</h4>
                      <div class="footer__text">{{ product.shipping.text }}</div>
                  </div>
              
              </div>
            
            </div>
  
           </div>
  
        </div>
  
        <div class="col-md-6 footer__second">
  
           <div class="col-md-12">
              
              <div class="footer__buy-now">
                
                <div class="col">
                  <div class="footer__price">$295.95</div>
                  <div class="footer__text"><a href="#">{{ product.finance.label }}</a></div>
                </div>
  
                <div class="col">
                    <button>{{ product.buyNowText }}</button>
                </div>
  
              </div>
  
           </div>
  
        </div>
  
      </div>
  
    </div>
  
  </footer>
  