
$font-family: "Circular";
$color-primary: #6B7280;
$color-secondary: #6B7280;
$color-black: #111111;
$color-red: #CB253C;

.tabs {
    margin-top: 48px;

    &__nav {
        display: flex;
        padding: 0;
    }

    &__nav-item {
        font-family: $font-family;
        font-weight: 500;
        font-size: 19.2px;
        line-height: 24px;
        color: $color-primary;
        cursor: pointer;
        list-style: none;
        width: 33%;
    }

    &__content {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-primary;
        margin-bottom: 48px;
    }

}