
<section class="tabs">

    <ul class="tabs__nav">

        <li class="tabs__nav-item"
            *ngFor="let item of data; index as i"
            (click)="setActiveTab(i)">
            {{item.title}}
        </li>

    </ul>

    <div class="tabs__content">
        {{data[activeTab].content}}
    </div>

</section>