/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Circular";
    src: local("Circular"), url(./assets/fonts/Circular-Std-Book.otf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Circular";
    src: local("Circular"), url(./assets/fonts/Circular-Std-Medium.otf) format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Circular";
    src: local("Circular"), url(./assets/fonts/Circular-Std-Bold.otf) format("truetype");
    font-weight: bold;
}